@media screen and (max-width: 1020px) {

  /* Configuração para esconder itens de desktop e trazer itens mobile para visualização */
  .desktop-item {
    display: none;
  }

  .mobile-item {
    display: block;
  }
  
  body {
    overflow-y: scroll;
    background: url(../img/blur-mobile.png) bottom no-repeat, var(--backgrond);
    background-size: contain;
  }


  /* Header */
  .nav-links {
    background-color: var(--backgrond);
    position: absolute;
    right: 0px;
    top: calc(10vh + 2em);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: all 0.5s ease-out 0.1s;
    transform: translateX(100%);
    width: 100%;
    height: 100%;
  }
  
  .nav-links li {
    border-top: solid 1px var(--border-menu-mobile);
    border-bottom: solid 1px var(--border-menu-mobile);
    color: var(--text-color-menu-mobile);
    opacity: 0.5;
    padding: 1rem 1rem;
  }

  .nav-links li:hover {
    border-left: solid 5px var(--button);
    opacity: 1;
    transition: 0.3s ease-in-out;
  }


  /* Animação de botões -> navbar */
  .nav-active {
    transform: translateX(0%);
    overflow: hidden;
  }

  .mudar-botao{
    display: none;
  }


  /* Main */
  .mobile-texto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 5% 0;
  }

  .mobile-texto p {
    color: var(--text-color);
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: 0.02em;
    padding: 15% 10%;
  }
 
  .botao-cafe {
    margin: 15% 0;
    padding: 1rem 2rem 1rem 2.5rem;
  }

  .botao-cafe img {
    margin-left: .5rem;
  }
  
  .texto-code {
    font-size: 50px;
    line-height: 68px;
    letter-spacing: -0.03em;
  }

  .texto-coffee {
    color: var(--text-color);
    font-size: 50px;
    line-height: 68px;
    letter-spacing: -0.03em;
  }
  
  .imagem-principal img {
    width: 100vw;
  }
}

/* Animação */
@keyframes navItemFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 0.5;
    transform: translateX(0px);
  }
}
